{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>

    <h1>마이페이지에 오신 것을 환영합니다</h1>
</div>

<div>
    User : {{target_user}} <br>
    UserProfile : {{target_user.profile}} <br>

<p>팔로워<br>{{ target_user.profile.followers.count}}명</p>
<ul>
    {% for follower in followers %}
    <li><a href="{% url 'users:mypage' follower.user.id %}">{{ follower.user.username }}</a></li>

    {% endfor %}
</ul>

<p>팔로잉<br>{{ target_user.profile.followings.count}}명</p>
<ul>
    {% for following in followings %}
    <li><a href="{% url 'users:mypage' following.user.id %}">{{ following.user.username }}</a></li>
    {% endfor %}
</ul>


{% if request.user != target_user %}
    {% if request.user.profile in target_user.profile.followers.all %}
        <a href="{% url 'users:follow' target_user.id %}">
        <button type="button" class="btn btn-outline-info">언팔로우</button>
        </a>
    {% else %}
        <a href="{% url 'users:follow' target_user.id %}">
        <button type="button" class="btn btn-info">팔로우</button>
        </a>
        {% endif %}
    {% endif %}
</div>


<div>
    {% for post in posts %}
    <div>
        <hr/>
        <h3>{{post.title}}</h3>
        {{post.writer}} | {{post.weather}} | {{post.pub_date}}<br>
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
        <br>
    </div>
    {% endfor %}  
</div>
{% endblock %}
